Upon conclusion of flight instruction, membership as provided by the scholarship will 
return to Michigan Takes Flight to be made available for recurring scholarship awards.

Scholarship applicants must meet all of the following criteria.
1.	Be a U.S. citizen 
2.	Be at least 16 years of age at the time of application -- There is no upper age limit
3.	Have parental approval if under the age of 18
4.	If in high school, carry at least a 3.0 cumulative grade point average (GPA) and provide contact information for two references including at least one school official
5.	Be eligible for an FAA student pilot certificate and an FAA medical certificate
6.	Be approved for membership in the Greater Flint Pilots Association
7.	Purchase and maintain, for duration of instruction, a $10,000 aircraft renters insurance policy upon being awarded scholarship 

<blockquote>
Please use this page as a template for your submission. 
We do not expect that you print & fill this out as an official form.
Keep in mind that you are asking us to help pay for your education. 
Take a few moments to craft a request worthy of others attention.
</blockquote>

